@font-face {
  font-family: 'Gizmo.IconFont';
  src:  url('demo-files/Gizmo.IconFont.eot?txpuz7');
  src:  url('demo-files/Gizmo.IconFont.eot?txpuz7#iefix') format('embedded-opentype'),
    url('demo-files/Gizmo.IconFont.ttf?txpuz7') format('truetype'),
    url('demo-files/Gizmo.IconFont.woff?txpuz7') format('woff'),
    url('demo-files/Gizmo.IconFont.svg?txpuz7#Gizmo.IconFont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Gizmo.IconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-NewFile:before {
  content: "\e900";
}
.icon-OpenFile:before {
  content: "\e901";
}
.icon-SaveFile:before {
  content: "\e902";
}
.icon-SaveAsFile:before {
  content: "\e903";
}
.icon-Import:before {
  content: "\e904";
}
.icon-Export:before {
  content: "\e905";
}
.icon-Exit:before {
  content: "\e906";
}
.icon-Settings:before {
  content: "\e907";
}
.icon-SettingsAlt:before {
  content: "\e908";
}
.icon-SettingsAlt2:before {
  content: "\e909";
}
.icon-Theme:before {
  content: "\e90a";
}
.icon-Reports:before {
  content: "\e90b";
}
.icon-Report:before {
  content: "\e90c";
}
.icon-NotificationBell:before {
  content: "\e90d";
}
.icon-User:before {
  content: "\e90e";
}
.icon-Socket:before {
  content: "\e90f";
}
.icon-OpenConnection:before {
  content: "\e910";
}
.icon-OpenSharedFolder:before {
  content: "\e911";
}
.icon-ContainerMove:before {
  content: "\e912";
}
.icon-Clear:before {
  content: "\e913";
}
.icon-Clear2:before {
  content: "\e914";
}
.icon-Ping:before {
  content: "\e915";
}
.icon-Refresh:before {
  content: "\e916";
}
.icon-Root:before {
  content: "\e917";
}
.icon-ActiveDirectory:before {
  content: "\e918";
}
.icon-Workgroup:before {
  content: "\e919";
}
.icon-Container2:before {
  content: "\e91a";
}
.icon-Container:before {
  content: "\e91b";
}
.icon-ChildComputer:before {
  content: "\e91c";
}
.icon-ChildComputerState:before {
  content: "\e91d";
}
.icon-Add:before {
  content: "\e91e";
}
.icon-Delete:before {
  content: "\e91f";
}
.icon-ComputerAll:before {
  content: "\e920";
}
.icon-SystemEnclosure:before {
  content: "\e921";
}
.icon-CPU:before {
  content: "\e922";
}
.icon-MemoryDevice:before {
  content: "\e923";
}
.icon-VideoAdapter:before {
  content: "\e924";
}
.icon-Monitor:before {
  content: "\e925";
}
.icon-NetworkAdapter:before {
  content: "\e926";
}
.icon-PhysicalDisk:before {
  content: "\e927";
}
.icon-Partition:before {
  content: "\e928";
}
.icon-Printer:before {
  content: "\e929";
}
.icon-Windows:before {
  content: "\e92a";
}
.icon-Icon:before {
  content: "\e92b";
}
.icon-Up:before {
  content: "\e92c";
}
.icon-Down:before {
  content: "\e92d";
}
.icon-Left:before {
  content: "\e92e";
}
.icon-Right:before {
  content: "\e92f";
}
